import("lme4", "splines")
export(snm)
export(sva)
export(calcSig)
export(fit.pset)
export(sim.singleChannel)
export(sim.doubleChannel)
export(sim.preProcessed)
export(sim.refDesign)
export(f.pvalue)

S3method("fitted","snm")
S3method("plot","snm")
S3method("summary","snm")
